apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  {{- range .annotations }}
    {{.}}
  {{- end }}
  name: {{.name}}
spec:
  replicas: {{or .replicas 3}}
  selector:
    matchLabels:
      app: {{.name}}
  template:
    metadata:
      labels:
        app: {{.name}}
    spec:
      runtimeClassName: {{or .runtimeClassName "kata"}}
      containers:
        - name: {{.name}}
          image: {{or .image "quay.io/openshift/origin-hello-openshift"}}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{or .port 8888}}
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
